/* your code here */
.product{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.photo-main > img{
	width:400px;
	height:300px;
	background-color:#5ee03b;
}
.photo-album > ul > li > img{
	padding:10px;
    background-color:#EBF2EE;
}
.photo-album ul li{
	display:inline;
}
.description{
	width:100px;
	height:100px;
	padding:2px
}
.variant{
	padding:1px;
	display:flex;
}
.variant  ul  li {
	padding:1px;
	border:1px solid white;
	border-radius:1px;
	display:inline
	
}
.price{
	color:red
}